body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.body{
   
    gap:2rem;
    height:100%
}
.container-dialog{
    display:flex;
    flex-direction: column;
    width: 100%;
}
dialog{
    
    
    gap:1rem;
    width: 50%;
    text-align: justify;
    align-items: center;
   
}
.book-card{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: fit-content;
    border:solid black;
}
h1{
    justify-self: start;
    text-align: center;
}
.log-button{
    width:fit-content;
    padding: 10px;
    background-color: rgba(23, 57, 253, 0.99);
    border: none;
    border-radius: 10px;
    color:antiquewhite;
    font-size: 1rem;
}